@import "tailwindcss";

@layer base {
    :root {
        --font-suit: 'SUIT Variable', sans-serif;
    }
}

body {
    color: white;
    line-height: 1.6;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    font-family: var(--font-suit);
    user-select: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}