@import url("https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0.3/css/all.min.css");

@import "tailwindcss";

* {
  font-family: "Apple Sandoll Gothic Neo", sans-serif;
}

body {
  line-height: 1.6;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  user-select: none;
  -ms-overflow-style: none;
  background: var(--background);
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}
